<form id="questionForm">
  <div>
    <legend>Create a Question</legend>
    <input type="text" placeholder="Add a tag..." ng-model="tag">
    <input type="text" placeholder="Type the question here..." ng-model="name">
    <input type="text" placeholder="Right answer..." class="right" ng-model="answer">
    <input type="text" placeholder="Wrong answer..." class="wrong" ng-model="w_answer">
    <input type="text" placeholder="Optional wrong answer..." class="optional" ng-model="w_answer_1">
    <input type="text" placeholder="Optional wrong answer..." class="optional" ng-model="w_answer_2">
    <div class="buttons">
      <button type="submit">Add Question</button>
      <button type="reset">Start Over</button>
    </div>
  </div>
</form>