<form id="questionForm">
  <div>
    <legend>Edit Question</legend>
    <input type="text" placeholder="Add a tag...">
    <input type="text" placeholder="Type the question here...">
    <input type="text" placeholder="Right answer..." class="right">
    <input type="text" placeholder="Wrong answer..." class="wrong">
    <input type="text" placeholder="Optional wrong answer..." class="optional">
    <input type="text" placeholder="Optional wrong answer..." class="optional">
    <div class="buttons">
      <button type="submit">Update Question</button>
      <button type="button">Delete Question</button>
    </div>
  </div>
</form>