          <form id="signupForm">
            <div>
              <legend>Sign up for a Quizzer account</legend>
              <input type="text" placeholder="First Name">
              <input type="text" placeholder="Last Name">
              <input type="text" placeholder="Email Address">
              <input type="password" placeholder="Password">
              <input type="password" placeholder="Confirm Password">
              <div class="buttons">
                <button type="submit">Register</button>
                <button type="reset">Cancel</button>
              </div>
            </div>
          </form>